* 
{
  margin: 0;
  padding: 0;
}

.content
{
  margin-left: 5px;
  margin-top: 6px;
  width: 641px;
  height: 87px;
  font-family: Sans;
}
.menu
{
  background-color: #cae2e2;
  margin-bottom: 1px;
  height: 25px;
}
ul.hr
{
  padding-top: 1px;
}
ul.hr li
{
	display: inline; 
	font-size: 15px;
	padding: 9px;
	padding-left: 7px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 7px;

}

ul.hr li.list
{	
	font-size: 14px;
	padding-left: 7px;
}
ul.hr li:nth-child(4)
{
	padding-left: 7px;
	font-size: 14px;
}
ul.hr li:nth-child(5)
{
	padding-left: 8px;
	font-size: 14px;
}
ul.hr li:nth-child(1)
{
	padding-left: 8px;
}
ul.hr li:nth-child(6)
{
	padding-left: 7px;
}
ul.hr li:nth-child(2)
{
	padding-left:6px
}
label
{
  width: 13px; 
  height: 13px; 
  display: inline-block; 
  position: relative;
}
input[type="checkbox"] + span 
{
	position: absolute; 
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: url("../image/sprite.png") no-repeat; 
	cursor: pointer; 
}
	input[type="checkbox"]:checked + span  	{
	background-position: 0 -13px;
}
.sorting input
{
	display:none;
}
a
{
  text-decoration: none;
  color: #197b7b;
}
ul.hr li:hover a,ul.hr li:hover
{
  background-color: #197b7b;
  color: white;
}
.sorting
{
  padding: 2px 0 5px 11px;
  border-top: 1px solid #7ececf;
  background-color: #c9d1d3;
  height: 16px;
}
.sorting img 
{
	margin-right: 7px;
}
ul.sortList
{
  display: inline; 
  list-style: none;
}
ul.sortList li
{
	padding-right: 12px;
	padding-top: 1px;
	font-size: 12px;
  float: right;
  list-style-position: inside;
  background: url("../image/grey.png") no-repeat 0 6px;
  padding-left: 12px;
}
ul.sortList li:nth-child(2)
{
	padding-right: 20px;
	font-size: 12px;
}
ul.sortList li:hover 
{
  background: url("../image/green.png") no-repeat 0 6px;
}
ul.sortList li:hover  a
{
  color: rgb(25, 123, 123) ;
}
ul.sortList li a
{
  color: #68757b;
  text-align: center;
}
.search
{
  background-color: #c9d1d3;
}
.search > input
{
  height: 23px;
  width: 538px;
  margin-left: 11px;
  margin-bottom: 7px;
  outline: none;
  padding-left: 5px;
  padding-right: 12px;
  padding-top: 2px;

}
.search > button
{
  background-color: #162e32;
  color: #eaebeb;
  width: 67px;
  height: 28px;
  padding-left: 0px;
  margin-left: -11px;
  border: 1px rgb(22, 46, 50);
  position: absolute;
  margin-top:0;
}
